*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: left 20% center;
    background-size: cover;
    height: auto;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.753);
    height: 100%;
}

#particles-js { 
	position: absolute;  
	height: 100%;
	width: 100%;
	top: 0; 
	left: 0;
	pointer-events: none
}

canvas.particles-js-canvas-el {
    width: 100px !important;
    height: 85px !important;
}

.topratedcasinobonus-disclaimer {
    box-shadow: 0px 16px 80px 0px rgba(101, 77, 255, 0.171);
    width: 100%;
    overflow: hidden;
    background: #000000;
    text-align: center;
    border-bottom: 1px solid #006667a6;
    position: fixed;
    z-index: 9999;
}

.topratedcasinobonus-disclaimer > p{
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    margin: 0px;
    padding: 5px 0px;
}

.topratedcasinobonus-disclaimer > p > a{
    color: #161616;
}

.topratedcasinobonus-disclaimer > p > img{
    width: 24px;
    position: relative;
    top: -1px;
    margin-right: 2px;
}

.topratedcasinobonus-banner-content > h1 {
    font-family: "Poppins", sans-serif;
    color: #f5f5f5;
    font-size: 34px;
    font-weight: 500;
    margin: 0px;
    padding: 60px 0px 10px 0px;
}

.topratedcasinobonus-banner-content > p{
    font-family: "Montserrat", serif;
    color: #d8d8d8;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.more { display: none; }
  
button.myBtn {
    border: none;
    outline: none;
    background: none;
    color: #d1d5d8;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}


.topratedcasinobonus-trust-area {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 25px 0px 10px 0px;
}

.topratedcasinobonus-trust-card {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topratedcasinobonus-trust-card > img{
    width: 36px;
}

.topratedcasinobonus-trust-card > p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    margin: 0px;
    font-style: italic;
}

.topratedcasinobonus-list-table{
    padding: 30px 0px 0px 0px;
}

.topratedcasinobonus-table-card {
    display: flex;
    gap: 24px;
    background: linear-gradient(109.6deg, rgb(0 78 79) 11.2%, rgb(0 103 104) 51.2%, rgb(0, 0, 0) 98.6%);
}

.topratedcasinobonus-table-card {
    position: relative;
    overflow: hidden; 
    background-color: #fff; 
}

.topratedcasinobonus-table-card {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

.topratedcasinobonus-table-card .sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
    border-radius: 50%;
    animation: sparkleAnimation 3s infinite linear;
    opacity: 0;
    pointer-events: none; 
}

@keyframes sparkleAnimation {
    0% {
        transform: translate(0, 0) scale(0.5);
        opacity: 0;
    }
    20% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
        transform: translate(calc(-50px + 100px * var(--x)), calc(-50px + 100px * var(--y))) scale(1.2);
    }
    100% {
        transform: translate(calc(-50px + 200px * var(--x)), calc(-50px + 200px * var(--y))) scale(0.8);
        opacity: 0;
    }
}

.topratedcasinobonus-logoWrapper {
    position: relative;
    flex-shrink: 0;
    left: 0px;
}

.topratedcasinobonus-logoImg img {
    width: 256px;
    height: 134px;
    border-radius: 3px 0 0 3px;
    object-fit: contain;
    position: relative;
    top: 6px;
}

.topratedcasinobonus-level {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #ffd24e;
    clip-path: polygon(100% 0, 93% 50%, 100% 100%, 0 100%, 0 0);
    z-index: 1;
}

.topratedcasinobonus-level {
    width: 140px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.4px;
    padding: 1px 0px;
    font-family: "Poppins", sans-serif;
}

.topratedcasinobonus-cardBody {
    display: grid;
    align-items: center;
    width: 100%;
    margin-right: 12px;
    grid-template-columns: auto 350px 200px;
    grid-template-rows: auto;
    gap: 0 18px;
    grid-template-areas: "title facts cta-btn";
}

.topratedcasinobonus-cardBonusTitle p {
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    align-items: center;
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
    animation: colorPulse 3s ease-in-out infinite;
    font-style: italic;
}

.topratedcasinobonus-cardBonusTitle p > span {
    font-size: 15px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

@keyframes colorPulse {
    0%, 100% {
        color: #dddddd;
    }
    33% {
        color: #4effe7;
    }
    66% {
        color: #f7f7f7;
    }
}

.topratedcasinobonus-ratingsWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0px;
    grid-area: facts;
    gap: 16px;
    position: relative;
    top: 4px;
}

.topratedcasinobonus-review-grid {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    width: 120px;
    position: relative;
    top: 6px;
}

.topratedcasinobonus-rating-star > ul{
    padding: 0px;
    margin: 0px;
}

.topratedcasinobonus-rating-star > ul > li{
    list-style: none;
    display: inline-flex;
    color: #ffd915;
    font-size: 16px;
}

.topratedcasinobonus-rating span {
    font-size: 14px;
}

.topratedcasinobonus-review-title {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    height: 25px;
    margin-top: 0px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #ffffff;
}

.topratedcasinobonus-value {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
    width: 100%;
    height: 35px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
    word-spacing: 1px;
}

.topratedcasinobonus-value > span{
    font-size: 13px;
}

.topratedcasinobonus-btn-area {
    align-self: flex-start;
    flex-shrink: 0;
    margin-top: 28px;
    grid-area: cta-btn;
}

.topratedcasinobonus-btnCard {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding: 0px;
    color: #222222;
    border-radius: 24px;
    background: #ffd24e;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 15px;
    transition: all 0.6s;
    overflow: hidden;
}

.topratedcasinobonus-btnCard:hover {
    color: #000000;
}

.topratedcasinobonus-bonus-bottom-offer {
    margin-bottom: 8px;
    background: #0129299a;
}

.topratedcasinobonus-bonus-bottom-offer > p {
    font-family: "Montserrat", serif;
    font-size: 10px;
    color: #dbdbdb;
    line-height: 12px;
    margin: 0px;
    padding: 4px;
    font-weight: 400;
    text-align: center;
}

.topratedcasinobonus-bonus-bottom-offer > p > button {
    font-size: 10px;
}

.topratedcasinobonus-servicesContext {
    background: #fff;
    padding: 37px 51px;
}

h2.topratedcasinobonus-servicesTitle {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0px 15px 0px;
}

p.topratedcasinobonus-wrapper-p{
    font-family: "Montserrat", serif;
    font-size: 14px;
    color: #383737;
    line-height: 20px;
    font-weight: 500;
    margin: 15px 0px 45px 0px;
}

.topratedcasinobonus-listIconWrap {
    display: flex;
    gap: 16px;
    justify-items: flex-start;
    margin-bottom: 25px;
    padding: 15px;
    background: linear-gradient(109.6deg, rgb(0 78 79) 11.2%, rgb(0 103 104) 51.2%, rgb(0, 0, 0) 98.6%);
    border-radius: 100px;
}

.topratedcasinobonus-iconPhoto {
    border-radius: 10px;
    min-width: 70px;
    height: 65px;
    text-align: center;
}

.topratedcasinobonus-iconPhoto > img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-27px);
}

.topratedcasinobonus-list-text > h3{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    color: #ffffff;
}

.topratedcasinobonus-list-text > p{
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    margin: 0px;
    color: #f1f1f1;
    line-height: 20px;
}

.topratedcasinobonus-aboutText{
    background: #fff;
    padding: 37px 51px;
    margin: 40px 0px;
}

.topratedcasinobonus-aboutText > h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px 15px 0px;
    color: #000000;
}

.topratedcasinobonus-aboutText > h3{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0px 5px 0px;
    color: #000000;
}

.topratedcasinobonus-aboutText > p{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0px;
    margin: 0px;
    color: #383737;
    line-height: 20px;
}

.topratedcasinobonus-faqText{
    background: #fff;
    padding: 37px 51px;
    margin: 40px 0px;
}

.topratedcasinobonus-faqText > h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px 15px 0px;
    color: #000000;
}

.topratedcasinobonus-faqText > h3{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0px 5px 0px;
    color: #000000;
}

.topratedcasinobonus-faqText > p{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0px;
    margin: 0px;
    color: #383737;
    line-height: 20px;
}

.topratedcasinobonus-subpages {
    padding: 25px 0px;
    background: #ffffff;
    margin-top: 40px;
}

h2.topratedcasinobonus-sub-title{
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    font-style: normal;
    padding-bottom: 12px;
    font-family: "Poppins", sans-serif;
}

.topratedcasinobonus-subpages-context > h5{
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    font-style: normal;
    padding: 10px 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.topratedcasinobonus-subpages-context > p{
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0px;
    font-family: "Montserrat", serif;
}

.topratedcasinobonus-subpages-context > ul > li{
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-family: "Montserrat", serif;
}

.topratedcasinobonus-footer {
    padding: 40px 50px;
    background: #002829;
}

.topratedcasinobonus-footer-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.row.topratedcasinobonus-footer-content-top.pb-4 {
    width: 100%;
    margin: 0 auto;
    max-width: 1365px;
}

.row.topratedcasinobonus-footer-content-b{
    width: 100%;
    margin: 0 auto;
    max-width: 1365px;
}

.footer-license-images img {
    padding: 10px 0px 20px 0px;
}
    
footer img.topratedcasinobonus-footer-ico {
    max-width: 160px;
}

.topratedcasinobonus-footer-logo > img:nth-child(1){
    width: 50px;
    height: 50px;
}

img.topratedcasinobonus-footer-ico.anj-logo {
    width: 110px;
}

.topratedcasinobonus-footer-text > p{
    color: #c2c2c2;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 12px;
    margin: 0px;
    font-family: "Montserrat", serif;
    word-spacing: 1px;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid gainsboro !important;
    opacity: .35 !important;
}

.topratedcasinobonus-footer-link > ul{
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.topratedcasinobonus-footer-link > ul > li > a{
    color: #c2c2c2;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 12px;
    margin: 0px;
    font-family: "Montserrat", serif;
    word-spacing: 1px;
    text-transform: uppercase;
}

.topratedcasinobonus-footer-link > ul > li > a:hover {
    color: #0d61fd;
    text-decoration: underline;
}

.topratedcasinobonus-copyright{
    color: #c2c2c2;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: "Montserrat", serif;
    word-spacing: 1px;
    text-decoration: none;
    text-align: center;
}





